.homeDivStyle {
    display: flex;
    /* background: linear-gradient(108.18deg, #201606 2.46%, #000000 99.84%); */
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: relative;
}